.form-large{
    font-size: 60px;
}

.form-large .control-label{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: normal;
}

.form-large input, .form-large  button{
    font-size: 60px;
    padding: 20px;
    height: auto;
    line-height: normal;
}

.btn-warning {
	background-color: rgba(0,0,0,0);
}
.btn-warning.disabled,
.btn-warning[disabled]
{
	background-color: rgba(0,0,0,0);
}

.well {
    background-color: rgba(0, 0, 0, 0.7);
    border: medium none;
}

.text-box {
	border: 1px solid #ddd;
}

.form-control {
	background-color: rgba(0,0,0,0);
	color: #fff;
}

.row {
	margin-top: 15px;
}

body {
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-image: url('/images/bonanza-b.jpg');
}
